body {
  font-family: "Roboto", sans-serif;
  color: #434455; 
  font-size: 16px;
  font-weight: 400;
  background-color: #FFFFFF;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.nav-menu a {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2E2F42;
}

.nav-menu a:hover, .nav-menu a:focus{
  color: #404BBF;
}

a:hover, a:focus{
  text-decoration: underline;
  color: #4D5AE5;
}

h1 {
  color: #FFFFFF;
  background-color: #2E2F42;
  font-size: 56px;
  font-weight: bold;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}

h2 {
  color: #2E2F42;
  background-color: #FFFFFF;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}

h3 {
  color: #2E2F42;
  background-color: #FFFFFF;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4D5AE5;
}

.logo .letter {
  color: #2e2f42;
}

.form-btm {
  color: #FFFFFF;
  background-color: #4D5AE5;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  cursor: pointer;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
  border: none;
  width: 169px;
  height: 56px;
}

.addrs a {
  color: #434455;
}

.addrs a:hover, .addrs a:focus {
  color: #404BBF;
}

.team {
  background-color: #F4F4FD;
}

.ftr {
  background: #2E2F42;
}

.ftr .logo .letter {
  color: #f4f4fd;
}

.ftr-txt {
  color: #F4F4FD;
}

.form-btm:active, .form-btm:focus{
  background-color: #404BBF;
}