body {
  font-family: "Roboto", sans-serif;
  color: #434455; 
  font-size: 16px;
  font-weight: 400;
  background-color: #FFFFFF;
  line-height: 1.5;
  letter-spacing: 2%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.nav-menu {
  color: #2E2F42;
}

.nav-menu:hover, .nav-menu:focus{
  color: #404BBF;
}

a:hover, a:focus{
  text-decoration: underline;
  color: #4D5AE5;
}

h1 {
  color: #FFFFFF;
  background-color: #2E2F42;
  font-size: 56px;
  font-weight: bold;
  line-height: 1.071;
  letter-spacing: 2%;
}

h2 {
  color: #2E2F42;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.11;
  letter-spacing: 2%;
}

h3 {
  color: #2E2F42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 2%;
}

.logo {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  color: #4D5AE5;
  text-transform: uppercase;
  line-height: 1.166;
  font-weight: bold;
  letter-spacing: 3%;
}

.form-btm {
  color: #FFFFFF;
  background: #4D5AE5;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 4%;
  border-radius: 4px;
  cursor: pointer;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
  border: none;
  width: 169px;
  height: 56px;
}

.addrs {
  color: #434455;
}

.addrs:hover, .addrs:focus {
  color: #404BBF;
}

.ftr {
  background: #2E2F42;
}

.ftr-txt {
  color: #F4F4FD;
}

.form-btm:active, .form-btm:focus{
  background: #4D5AE5;
}